.top-page {
  display: flex;
  height: 600px;
  border-width: 75%;
  border-top: 1px solid black;
}

.top-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.top-left h3 {
  text-align: center;
  font-family: "Indie Flower", sans-serif;
}

.top-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}

.top-right img {
  max-width: 100%;
  max-height: 100%;
  border: 5px solid darkblue;
  border-radius: 15px 40px;
}

h4 {
  font-size: 1.5rem;
}

.middle-text {
  margin-top: 80px;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.46);
}

.middle-text h1 {
  padding: 30px;
}

.text-bottom {
  align-items: center;
  margin: 50px;
}

.text-bottom-right {
  text-align: center;
  border: 4px solid black;
  padding: 30px;
  margin: 50px;
  border-radius: 15px 40px;
}

.text-bottom-center {
  text-align: center;
  border: 4px solid black;
  padding: 30px;
  margin: 50px;
  border-radius: 15px 40px;
}

.text-bottom-left {
  text-align: center;
  border: 4px solid black;
  padding: 30px;
  margin: 50px;
  border-radius: 15px 40px;
}

/********************************************************Tablet *******************************/
@media only screen and (min-width: 768px) and (max-width: 875px) {
  .top-page {
    margin: 50px;
  }

  .middle-text {
    margin-top: 200px;
  }

  .text-bottom {
    display: block;
  }
}

/**********************************************Mobil*********************************/
@media only screen and (min-width: 320px) and (max-width: 875px) {
  .top-page {
    display: block;
    margin: 50px;
  }
  .top-right img {
    max-width: 75%;
    max-height: 75%;
  }
  .middle-text {
    margin-top: 250px;
  }

  .text-bottom {
    display: block;
  }
}
